@model ApointmentApp.ViewModels.RegisterViewModel
@{
	ViewData["Title"] = "Delete";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h1> deleted</h1>
<a asp-action="List">Back To List</a>