   @{ 
	   ViewData["Title"] = "Home Page";
	   //Layout = "~/Views/Shared/_NewLayout.cshtml";

	}
<div class="jumbotron">
	<h1>Fast Learn</h1>
</div> <div class="row">
	<div class="col-md-4">
		<h2>Welcome to  Fast Learning Center</h2>
		<p>
			Fast Learn Inc is a diatance learning institute
			that was founded by Samuel Rogers 10 years ago. Fast 
			Learn is one of the most established distance learning institute
			in the United States with its head office located in New York.
		
		</p>
	</div>
	<div class="col-md-4">
		<h2>Varous Faculties Available</h2>
		<p>Arts And Commerce</p>
		<p>Management</p>
		<p>Informations And Technology</p>
		<p>Foreign Languages</p>
		<p><a class="btn btn-primary" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Download it</h2>
		<p>You can download the completed School Brochure Here.</p>
		<p>
			<a class="btn btn-primary" href="https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">See project source code &raquo;</a>
		</p>
	</div>
</div>